#center-form {
    text-align: left;
    width: 50%;
    margin: auto;
}

.errorlist {
    color: red;
}

.nav-username {
    padding-top: 11px;
    padding-right: 40px;
    text-transform: none;
    font-size: 1.5em;
}

@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
        color: white;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: white;
    background-color: rgba(0,0,0,.3);
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar-nav > li {
  display: inline-block;
}
.navbar-nav > li + li {
  margin-left: 20px;
}
.navbar-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.navbar-default {
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li a:focus {
    color: #999;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}


/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

/* game UI (terminal) styling */
.row {
    margin-top: 40px;
}

.terminal {
    
}

.map {
    
    background-color: #222;
}

.terminal > * {
    margin-top: 5px;
    margin-bottom: 5px;
}

#pinnedText {
    font-weight: bold;
}

#terminalText {
    height: 20em; /* in relation to window? */
    overflow: auto;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, .2);
}

#pinnedText, #terminalText {
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

#terminalText .echo {
    font-weight: bold;
    
}

#terminalText .response {
}

/* style form elements on top of default Bootstrap */
#commandUserInput { /* make as wide as possible */
}

/* override Django's form error message styling */
.errorlist {
    color: inherit;
    text-shadow: none;
    list-style-type: none;
}

#success {
    
}
