{% extends "base.html" %}
{% load staticfiles %}
<!-- template for game dashboard with parser -->
{% block content %}

<div class="container-fluid">
<div class="row">
<div class="terminal">
	<div id="roomName">
	</div>
    <div id="pinnedText">
    <!-- insert room description -->
    </div>
    <div id="terminalText">
    </div>
    <form id="commandForm" role="form" class="input-group">
	{% csrf_token %}
        <input id="commandUserInput" class="form-control" type="text" name="command" autocomplete="off" />
		<span class="input-group-btn">
			<input id="commandButton" class="btn btn-default" type="submit" value="enter" />
		</span>
    </form>
</div>
<div id="map">
</div>

</div> <!-- end row -->
</div> <!-- end container -->

{% endblock %}

{% block scripts %}
    {{ block.super }}

    <script language="javascript" type="text/javascript" src="{% static 'js/item.js' %}"></script>
     <script language="javascript" type="text/javascript" src="{% static 'js/extraClasses.js' %}"></script>
    <script language="javascript" type="text/javascript" src="{% static 'js/parser.js' %}"></script>
    <script language="javascript" type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <script language="javascript" type="text/javascript" src="{% static 'js/functions.js' %}"></script>  	
	<!--<script language="javascript" type="text/javascript" src="{% static 'js/giant.js' %}"></script>
	<script language="javascript" type="text/javascript" src="{% static 'js/manager.js' %}"></script>
	<!--<script language="javascript" type="text/javascript" src="{% static 'js/parser2.js' %}"></script>-->
	

{% endblock %}
