{% extends "base.html" %}
{% load staticfiles %}
<!-- template for game dashboard with parser -->
{% block content %}
    <!-- insert room description -->
    <p>"There's a gun, a door, a clock and a key in the room..."</p>
    <div id="terminal">
    </div>
    <form id="commandForm"> 
        <input id="commandUserInput" type="text" name="command" /> 
        <input id="commandButton" type="submit" value="enter" /> 
    </form>
    
    

    <script src="http://malsup.github.com/jquery.form.js"></script>
<!--    <script language="javascript" type="text/javascript" src="{% static 'js/parsertest.js' %}"></script>-->
   <script language="javascript" type="text/javascript" src="{% static 'js/item.js' %}"></script>
    <script language="javascript" type="text/javascript" src="{% static 'js/extraClasses.js' %}"></script>
  <script language="javascript" type="text/javascript" src="{% static 'js/parser.js' %}"></script>
  <script language="javascript" type="text/javascript" src="{% static 'js/script.js' %}"></script>
  <script language="javascript" type="text/javascript" src="{% static 'js/functions.js' %}"></script>
    <script language="javascript" type="text/javascript" src="{% static 'js/gameState.js' %}"></script>

{% endblock %}
