{% extends "base.html" %}
{% load staticfiles %}
<!-- template for game dashboard with parser -->
{% block content %}

<div class="container-fluid">
<div class="row">
<div class="terminal col-md-8">
    <div id="pinnedText">
    <!-- insert room description -->
        <p>"There's a gun, a door, a clock and a key in the room..."</p>
    </div>
    <div id="terminalText">
    </div>
    <form id="commandForm" role="form"> 
        <input id="commandUserInput" class="form-control" type="text" name="command" /> 
        <input id="commandButton" class="btn btn-default" type="submit" value="enter" /> 
    </form>
</div>
<div class="map col-md-4">
    <p style="height: 300px;">map</p>
</div>
</div> <!-- end row -->
</div> <!-- end container -->

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="http://malsup.github.com/jquery.form.js"></script>
<!--    <script language="javascript" type="text/javascript" src="{% static 'js/parsertest.js' %}"></script>-->
    <script language="javascript" type="text/javascript" src="{% static 'js/item.js' %}"></script>
    <script language="javascript" type="text/javascript" src="{% static 'js/extraClasses.js' %}"></script>
    <script language="javascript" type="text/javascript" src="{% static 'js/parser.js' %}"></script>
    <script language="javascript" type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <script language="javascript" type="text/javascript" src="{% static 'js/functions.js' %}"></script>
    <script language="javascript" type="text/javascript" src="{% static 'js/gameState.js' %}"></script>
{% endblock %}
